* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 0.85fr;
}

.header {
    background-color: lightcoral;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    place-items: center;
    font-size: 40px;
    font-weight: 600;
}

.content {
    background-color: purple;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    place-items: center;
}

.symbol-selector {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.symbol-selector > p {
    font-size: 28px;
    font-weight: 500;
}

.symbol-buttons {
    display: flex;
    justify-items: stretch;
    gap: 20px;
}

.symbols {
    background-color: lightblue;
    border: none;
    font-size: 24px;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
}

.game-board {
    background-color: orange;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.field-wrapper{
    background-color: lightblue;
    border: 1px solid palevioletred;
}

.field {
    width: 100%;
    height: 100%;
    font-size: 60px;
    text-align: center;
    line-height: inherit;
}