* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 0.85fr;
}

.header {
    background-color: lightcoral;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    place-items: center;
    font-size: 40px;
    font-weight: 600;
}

.content {
    background-color: purple;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.15fr 0.85fr;
    row-gap: 50px;
    place-items: center;
}

.buttons-wrapper {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: end;
    display: flex;
    gap: 40px;
}

.start {
    background-color: #17be17;
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    border: 1px solid #226644;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 30px;
}

.start:hover {
    background-color: #286d13   ;
    color: white;
}

.reset {
    background-color: rgb(46, 235, 219);
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    border: 1px solid #226644;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 30px;
}

.reset:hover {
    background-color: #225566   ;
    color: white;
}

.player {
    display: flex;
    gap: 15px;
    font-size: 28px;
    font-weight: 500;
    color: white;
    padding: 5px 10px 5px 10px;
    border: 5px;
}

#player-1-wrapper {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    align-self: start;
}

#player-2-wrapper {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
    align-self: start;
}

#player-1, #player-2 {
   white-space: nowrap;
}


.game-board {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    align-self: start;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.field-wrapper {
    background-color: lightblue;
    border: 1px solid palevioletred;
}

.field {
    width: 100%;
    height: 100%;
    font-size: 60px;
    text-align: center;
    line-height: inherit;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 48px;
    z-index: 2;
    display: none;
    /* Hidden by default */
    animation: bounceIn 0.5s ease-out;
}